.about_me_top {
  display: flex; /* Make container a flexbox */
  flex-wrap: wrap; /* Allow items to wrap to new lines */
  font-size: 22px;
}

.about_me_top_item {
  width: 45%; /* Make each item take up 33% of the container width */
  box-sizing: border-box; /* Include padding and borders in item width */
  padding-left: 8em;
  padding-top: 5em;
}

@media screen and (max-width: 600px) {
  .about_me_top {
    flex-direction: column; /* Switch flex direction to vertical */
  }
  
  .about_me_top_item {
    width: 100%; /* Make each item take up 100% of container width */
  }
}

.about_me_top_image {
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
  padding-left: 0em;
  padding-top: 2em;
}

.about_me_top_image img {
  width: 450px; /* Set the width of the image */
  height: 450px; /* Set the height of the image */
  border-radius: 50%; /* Make the image circular */
}

/**************************************************************/

.about_me_mid {
  display: flex; /* Make container a flexbox */
  flex-wrap: wrap; /* Allow items to wrap to new lines */
  font-size: 22px;

}

.about_me_mid_item {
  width: 45%; /* Make each item take up 33% of the container width */
  box-sizing: border-box; /* Include padding and borders in item width */
  padding-left: 0em;
  padding-top: 6em;
  padding-right: 3em;
  padding-bottom:4em;
}

@media screen and (max-width: 600px) {
  .about_me_mid {
    flex-direction: column; /* Switch flex direction to vertical */
  }
  
  .about_me_mid_item {
    width: 100%; /* Make each item take up 100% of container width */
  }
}

.about_me_mid_image {
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
  padding-left: 3em;
  padding-top: 0em;
  padding-right: 0em;
}

.about_me_mid_image img {
  width: 450px; /* Set the width of the image */
  height: 450px; /* Set the height of the image */
  border-radius: 50%; /* Make the image circular */
}

/**************************************************************/
.about_me_skills {
  display: flex; /* Make container a flexbox */
  flex-wrap: wrap; /* Allow items to wrap to new lines */
  padding-bottom: 2em;
}

.about_me_skills_item{
  width: 33%; /* Make each item take up 33% of the container width */
  box-sizing: border-box; /* Include padding and borders in item width */
  padding-top: 2em; 
  text-align: center;
}

@media screen and (max-width: 600px) {
  .about_me_skills {
    flex-direction: column; /* Switch flex direction to vertical */
  }
  
  .about_me_skills_item {
    width: 100%; /* Make each item take up 100% of container width */
  }
}



