body {
  font-family: Hack, monospace;
  margin:0;
  background-color: #95ad9c;
}

top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
  /* overflow: hidden; */
  background-color:  #708090;
  margin: 0
  /* height: 7.5em; */
}

li {
  float: left;
  font-size: 1.50rem;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.large-text {
  font-size: 40px; /* Set font size for large text */
}

.med-text {
  font-size: 33px; /* Set font size for large text */
}

.small-text {
  font-size: 22px; /* Set font size for small text */
}

.skill-item-text {
  font-size: 27px;
}

.proj-desc-text {
  font-size: 24px;
}


@media screen and (min-width: 800px) and (max-width: 1199px) {
  body {
    large-text: 30px; 
    med-text: 25px; 
    small-text: 20px; 
    proj-desc-text: 6px;
  }
}


